@import url("./reset.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --narinci-reng:#FF8A56;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.nav-links > a {
  color: #222;
  margin-right: 40px;
}

/* Mobile First Approach */

.nav-links {
  display: none;
}

.introduction .left-side {
  padding: 30px 10px;
}

/* Specifity */
.introduction .left-side h1 span {
color: var(--narinci-reng);
}

.introduction .left-side h1 {
  font-size: 38px;
  font-weight: 700;
}

.introduction .left-side p {
  margin: 20px 0;
}

.introduction .right-side {
 
  width: 300px;
  /* margin-top: 20px; */
  margin: 20px auto;

}

.introduction .right-side img {
  width: 100%;
}


/* 0-9 A-F */
.download a:nth-child(1) {
  background-color: #222;
  display: inline-block;
  padding: 20px;
  color:#fff;

}

.download a:nth-child(2) {
  margin-left: 10px;
}


@media(min-width:375px) and (max-width:576px) {
  .introduction .left-side h1 {
    font-size: 45px;
  }
}

/* 768px -1024px planshet  */

@media (min-width: 768px) and (max-width:1024px){
  .nav-links {
    display: flex;
  }

  .bi-list {
    display: none;
  }

  .introduction {
    display: flex;
    flex-direction: column;
  }

  .introduction .left-side {
    padding: 100px 70px;
  }

  .introduction .left-side h1 {
    font-size: 77px;
  }

  .introduction .right-side {
    width: 500px;
  }

  .introduction .right-side img {
    width: 100%;
  }

  
}

@media (min-width: 1080px) {
  header {
    /* shorthand */
    padding: 20px 112px;
  }

  .introduction {
    padding-left: 112px;
    flex-direction: row;
    


  }

  .left-side {
    padding-top: 117px;
  }

  .introduction .left-side h1 {

    /* 1rem 16px */
    font-size: 4.5rem;
    font-weight: 700;
    width: 661px;
  }


  .introduction .right-side {
    padding-top: 70px;
  }

  .introduction .right-side {
    margin-top: 0;
  }

}

/* padding max-width */
